html, body {
    background-color: navy;
    height: 100%;
}

html, body, div {
    padding: 0px;
    margin: 0px;
}

body, section {
    display: none;
}

#content {
    width: 95%;
    /* height: 100%; */
    /* margin-left: 3px auto;
    margin-right: 3px auto; */
    margin: 10px auto;
    padding: 10px;
    background-color: white
}

#loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8) url("./rsc/ajax-loader.gif") 50% 50% no-repeat;
}

#alerts {
    height: 50px;
    overflow-y: hidden;
}

.bottom {
    margin-top: 20px;
}